$maxMobile: "(max-width:767px)";
$minSmall: "( min-width:768px)";
$maxSmall: "(max-width:992px)";
$minMeduim: "( min-width:992px)";
$minLarg: "( min-width:1200px)";

$redColor: #e2494c;
$grayColor: #9c9c9c;
//  RTL pages
$floatRight: right;
$floatLeft: left;
