.header {
  text-transform: uppercase;
  padding: 15px 0;
  border-bottom: 1px solid $grayColor;

  .gear {
    display: none;
    cursor: pointer;
    color: $redColor;
  }
  p {
    margin: 0;
  }
  i.active {
    position: relative;
    right: -100px;
  }
  .navbar {
    background-color: $redColor;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    display: flex;
    align-items: center;
    li {
      font-size: 15px;
      text-align: center;
      a {
        display: block;
        padding: 15px 10px;
        color: #eee;
        text-decoration: none;
        &:hover {
          color: black;
          transition: 0.3s;
          -webkit-transition: 0.3s;
          -moz-transition: 0.3s;
          -ms-transition: 0.3s;
          -o-transition: 0.3s;
        }
      }
    }

    &.active {
      li {
        display: block !important;
      }
    }
    &.active {
      position: absolute;
      top: -30px;
      right: 0;
      display: inline;
      width: 30%;
      z-index: 1;
      max-height: 100vh;
    }
  }
}

.header {
  .navbar {
    li {
      @media #{$maxMobile} {
        display: none;
        margin-top: 50px;
      }
    }
  }
  .gear {
    @media #{$maxMobile} {
      display: block;
      color: $redColor;
      position: relative;
      top: -20px;
      left: 10px;
      font-size: 20px;
      &.active {
        z-index: 2;
        position: relative;
        left: -100px;
      }
    }
  }
}

// @media (max-width: 990px) {
//   .header .container {
//     background-color: red;
//   }

// }
